.textCircle {
  font-weight: 400;
  letter-spacing: 4.85px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  fill: #9a9eb1;
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
